<% provide(:title, 'kibuso.de') %>
<% if logged_in? %>
  <div class="row">
    <p>
      <h1>Willkommen bei kibuso.de</h1>
    </p>
    <p>
      Auf dieser Webseite k&ouml;nnen Sie die</br>
      Buchhaltung f&uuml;r Ihr Unternehmen führen.
    </p>
    <p>
      Dieser Service ist komplett kostenlos.
    </p>
    <p>
      Wir bieten weitere Module, wie zum Beispiel </br>
      Kostenrechnung und Controlling an.
    </p>
    <p>
      Sollten Sie daran Interesse haben, kontaktieren</br>
      Sie und &uuml;ber unser Kontaktformular.
    </p>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Willkomen auf kibuso.de</h1>
  </div>
  <div class="col-sm-4">
    <h4>
      kibuso.de bietet Ihnen die Möglichkeit
      Ihre Buchhaltung online, schnell, einfach,</br> 
      jederzeit und von Überall zu erledigen.
      Sie brauchen nur die Daten für das </br>
      Grundbuch einzugeben und kibuso.de erstellt die notwendigen
      Konten und nimmt die Buchungen vor.
    </h4>
  </div>
  <div class="col-sm-4">
    <h4>
      Dieser Service ist komplett kostenlos.
    </h4>
  </div>
  <div class="col-sm-4">
    <h4>
      Jetzt können Sie alle Konten einsehen. Und jederzeit mit einem Click Ihren 
      Jahresabschluss erstellen.
    </h4>
    <%= link_to "Anmelden!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>