<% provide(:title, "Einloggen") %>
<h1>Einloggen</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(Passwort vergessen)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Eingeloggt bleiben</span>
      <% end %>

      <%= f.submit "Einloggen", class: "btn btn-primary" %>
    <% end %>

    <p>Neuer Benutzer? <%= link_to "Anmelden!", signup_path %></p>
  </div>
</div>