<%= form_for(hauptbuch) do |f| %>
  <% if hauptbuch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hauptbuch.errors.count, "error") %> prohibited this hauptbuch from being saved:</h2>

      <ul>
      <% hauptbuch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
