<p id="notice"><%= notice %></p>

<h1>Hauptbuches</h1>

<table class="table table-striped">
  <thead>
    <tr>
    
    </tr>
  </thead>

  <tbody>
    <% @hauptbuches.each do |hauptbuch| %>
      <tr>
        <td>
          <%= link_to hauptbuch.konto_name,  konto_show_path(
                                        :konto_name => hauptbuch.konto_name ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
