<li>
  <div class="konto_item_inner">
    <%= konto[:from_account] %>
  </div>
  <div class="konto_item_inner_number"><%= konto[:from_amount] %></div>
  <div class="konto_item_inner">
    <%= konto[:to_account] %>
  </div>
  <div class="konto_item_inner_number"><%= konto[:to_amount] %></div>
</li>