<% provide(:title, params[:konto_name]) %>
<h1><%= params[:konto_name] %></h1>
<table class="table table-striped">
  <thead>
    <tr>
    
    </tr>
  </thead>
<%= will_paginate @collection, :previous_label => t("Eine Seite zurück"), :next_label => t("Eine Seite vor") %>
  <tbody>
    <% @konto.each do |konto| %>
      <tr>
        <td><%= konto[:from_account] %></td>
        <td><%= konto[:from_amount] %></td>
        <td><%= konto[:to_account] %></td>
        <td><%= konto[:to_amount] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @collection, :previous_label => t("Eine Seite zurück"), :next_label => t("Eine Seite vor") %>