<% provide(:title, params[:konto_name]) %>
<%= will_paginate %>
<div class="row">
  <ul class="bookings">
    <% @konto.each do |konto| %>
      <%= render partial: "konto", locals: { konto: konto } %>
    <% end %>
  </ul>
</div>
<%= will_paginate %>