<li id="booking-<%= booking.id %>">
  <%= link_to gravatar_for(booking.user, size: 50), booking.user %>
  <span class="from_account"><%= booking.from_account %></span>
  <span class="from_amount"><%= booking.from_amount %></span>
  <span class="to_account"><%= booking.to_account %></span>
  <span class="to_amount"><%= booking.to_amount %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(booking.created_at) %> ago.
  </span>
</li>