<li>
  <div class="booking_item_inner_number"><%= booking.id %></div>
  <div class="booking_item_inner_number"><%= booking.from_kind %></div>
  <div class="booking_item_inner">
    <%= link_to booking.from_account,  konto_show_path(
                                        :konto_name => booking.from_account ) %>
  </div>
  <div class="booking_item_inner_number"><%= booking.from_amount %></div>
  <div class="booking_item_inner_number"><%= booking.to_kind %></div>
  <div class="booking_item_inner">
    <%= link_to booking.to_account,  konto_show_path(
                                        :konto_name => booking.to_account ) %>
  </div>
  <div class="booking_item_inner_number"><%= booking.to_amount %></div>
</li>