<% provide(:title, 'Alle Buchungen') %>
<h1>Alle Buchungen</h1>

<%= will_paginate @collection, :previous_label => t("Eine Seite zurück"), :next_label => t("Eine Seite vor") %>
<div class="row">
  <ul class="bookings">
    <%= render @bookings %>
  </ul>
</div>
<%= will_paginate @collection, :previous_label => t("Eine Seite zurück"), :next_label => t("Eine Seite vor") %>