<% provide(:title, "Buchungen") %>
<h1>Buchungen</h1>
<table class="table table-striped">
  <thead>
    <tr>
    
    </tr>
  </thead>
<%= will_paginate @collection, :previous_label => t("Eine Seite zurück"), :next_label => t("Eine Seite vor") %>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.from_kind %></td>
        <td><%= link_to booking.from_account,  konto_show_path(
                                        :konto_name => booking.from_account ) %>
        </td>
        <td><%= booking.from_amount %></td>
        <td><%= booking.to_kind %></td>
        <td>
          <%= link_to booking.to_account,  konto_show_path(
                                        :konto_name => booking.to_account ) %>
        </td>
        <td><%= booking.to_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @collection, :previous_label => t("Eine Seite zurück"), :next_label => t("Eine Seite vor") %>