<h1>Neue Buchungen</h1>
<p>Geben Sie hier Ihre Buchungen ein.</p>
<div class="row">
  <aside class="col-md-4">
    <section class="micropost_form">
      <%= render 'shared/booking_form' %>
    </section>
  </aside>
</div>