<% provide(:title, @user.name) %>
<div class="row">
  <!--<div class="col-md-8">-->
    <%= render 'follow_form' if logged_in? %>
    <% if @user.bookings.any? %>
      <ol class="bookings">
        <%= render @bookings %>
      </ol>
      <%= will_paginate @bookings %>
    <% end %>
  <!--</div>-->
</div>