<%= form_for(@booking, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :from_kind, placeholder: "Konto Art" %>
  </div>
  <div class="field">
    <%= f.text_field :from_account, placeholder: "Kontoname" %>
  </div>
  <div class="field">
    <%= f.text_field :from_amount, placeholder: "Betrag" %>
  </div>
  <%= f.text_field :to_kind, placeholder: "Konto Art" %>
  <div class="field">
    <%= f.text_field :to_account, placeholder: "Kontoname" %>
  </div>
  <div class="field">
    <%= f.text_field :to_amount, placeholder: "Betrag" %>
  </div>
  <%= f.submit "Buchen", class: "btn btn-primary" %>
<% end %>