// Place all the styles related to the Datens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.daten_item_outer{
    white-space: nowrap;
    margin-left:4px;
    float:left;
}

.daten_item_inner_id{
    display:inline-block;
    width:30px;
    display:block;
    float:left;
    text-align:left;
}

.daten_item_inner{
    display:inline-block;
    width:200px;
    display:block;
    float:left;
    text-align:left;
}