// Place all the styles related to the Konto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.konto_item_inner_number{
    border-top:1px solid black;
    display:inline-block;
    width:10%;
    //display:block;
    float:left;
    text-align:center;
}

.konto_item_inner{
    border-top:1px solid black;
    display:inline-block;
    width:40%;
    //display:block;
    float:left;
    text-align:left;
}