<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Impressum",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>