<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "kibuso.de", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Hilfe", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Hauptbuch", hauptbuches_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Buchungen <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Alle Buchungen", bookings_path %></li>
              <li><%= link_to "Neue Buchung", bookings_new_url %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Konto <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Ausloggen", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Einloggen", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>